<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener - Analytics</title>
    <!-- Add your CSS links here -->
</head>

<body>
    <h1>URL Shortener Analytics</h1>

   
        <table>
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Shortened URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
             
                    <tr>
                        <td>long url</td>
                        <td><a href="www.google.com">short url</a></td>
                        <td>no of click</td>
                    </tr>
                    <tr>
                        <td>long url</td>
                        <td><a href="www.google.com">short url</a></td>
                        <td>no of click</td>
                    </tr>
                    <tr>
                        <td>long url</td>
                        <td><a href="www.google.com">short url</a></td>
                        <td>no of click</td>
                    </tr>
                    <tr>
                        <td>long url</td>
                        <td><a href="www.google.com">short url</a></td>
                        <td>no of click</td>
                    </tr>
                    
              
            </tbody>
        </table>
    

    <!-- Add your JavaScript links here -->
</body>

</html>
